//Шаблони
%button {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.h50 {
  height: 50px;
  padding: 13px 0;
}

.h60 {
  height: 60px;
  padding: 19px 45px;
}

.main-btn {
  @extend %button;
  color: $darkColor;
  border: 2px solid $darkColor;
}

.btn-green {
  @extend %button;
  background: $greenColor;
  color: $lightColor;
}

.bg-grey {
  background: $greyColor;
  color: $lightColor;
}

.container {
  padding: 30px 20px;
}

.green-line {
  height: 2px;
  background: $greenColor;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
